/* Background radius provides circular shape */
.addButton
{
    -fx-background-radius: 150em;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-max-width: 150px;
    -fx-max-height: 150px;
    -fx-background-position: center;
    -fx-background-size: 150px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #dbedff;
    -fx-background-image: url("../images/add2.png");
}
.changeDayButton
{
    -fx-background-radius: 150em;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-max-width: 150px;
    -fx-max-height: 150px;
    -fx-background-size: 150px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #dbedff;
    -fx-background-image: url("../images/calendar.png");
}
.optionsButton
{
    -fx-background-radius: 150em;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-max-width: 150px;
    -fx-max-height: 150px;
    -fx-background-size: 150px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #dbedff;
    -fx-background-image: url("../images/options.png");
}
.statsButton
{
    -fx-background-radius: 150em;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-max-width: 150px;
    -fx-max-height: 150px;
    -fx-background-size: 150px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #dbedff;
    -fx-background-image: url("../images/stats.png");
}
.VBox
{
    -fx-background-color: #2f4550;
}

.greetingText
{
    -fx-font-size: 51pt;
    -fx-fill: black;
    -fx-font-style: italic;
    -fx-font-weight: 600;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.7) , 0,0,0,1 );
}

.followupText
{
    -fx-font-size: 13pt;
    -fx-fill: black;      /* Previous: #575b62 */
    -fx-font-style: italic;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.7) , 0,0,0,1 );
}
.dateText
{
    -fx-font-size: 14pt;
    -fx-fill: black;
}

.mainLayout
{
    -fx-background-color: #f4f4f9;
    -fx-background-position: 0px 0px;
    -fx-background-image: url("../images/bgPhoto2lightened2.jpeg");
    -fx-background-size: 1152px 768px;
    -fx-background-repeat: no-repeat;
}
.mainWindow
{
}

.softRectVBox
{
    -fx-font-size: 15pt;
    -fx-background-color: rgba(219, 237, 255, 0.75); /* semi transparent #dbedff */
    -fx-background-radius: 5.0;
    -fx-border-style: solid inside;
    -fx-border-color: #284c6c;
    -fx-border-width: 2.5;
    -fx-border-radius: 5.0;
}

.nutritionValuesText
{
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
}

.nutritionLabelText
{
    -fx-font-weight: bold;
}