/* Background radius provides circular shape */
.addButton
{
    -fx-background-radius: 150em;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-max-width: 150px;
    -fx-max-height: 150px;
    -fx-background-size: 150px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../images/add2.png");
}
.changeDayButton
{
    -fx-background-radius: 150em;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-max-width: 150px;
    -fx-max-height: 150px;
    -fx-background-size: 150px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../images/calendar.png");
}
.optionsButton
{
    -fx-background-radius: 150em;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-max-width: 150px;
    -fx-max-height: 150px;
    -fx-background-size: 150px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../images/options.png");
}
.statsButton
{
    -fx-background-radius: 150em;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-max-width: 150px;
    -fx-max-height: 150px;
    -fx-background-size: 150px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../images/stats.png");
}
.VBox
{
    -fx-background-color: #2f4550;
}

.greetingText
{
    -fx-font-size: 50pt;
    -fx-fill: black;
    -fx-font-weight: 600;
}

.followupText
{
    -fx-font-size: 16pt;
    -fx-fill: #575b62;
    -fx-font-style: italic;
}

.mainLayout
{
    -fx-background-color: #f4f4f9;
}
